@import "tailwindcss";
@font-face {
    font-family: 'PNU-Bold';
    src: url('../../public/fonts/PNU-Bold.ttf');
}

@font-face {
    font-family: 'PNU-Regular';
    src: url('../../public/fonts/PNU-Regular.ttf');
}


@custom-variant dark (&:where(.dark, .dark *));
@custom-variant headerToggled (&:where(.headerToggled, .headerToggled *));

@theme{
    
    --color-lightBackground:#FFFFFF;
    
    
    --color-lightTransparent: rgba(255, 255, 255, 0.5);
    --color-lightTransparent: rgba(0, 0, 0, 0.5);
    
        --color-ColorTransperant:rgba(0,0,0,0);
        --color-darkBackground:#2E2E2E;
        --color-darkMain:#1E1E1E;
        --color-darkPrimary:#1E1E1E;
        --color-darkSecondary:#374151;

        --color-lightBorder:#D1D5DB;


        --color-darkTextPrimary:#fdfdfd;
        --color-darkTextPrimary:#dfdfdf;
        --color-lightTextPrimary:#111827;
        --color-lightTextSecondary:#6B7280;
        --color-LightBackground:#FFFFFF;

        
        --color-DarkPrimary:#33A3DC;

        --color-darkTransparent: rgba(0, 0, 0, 0.5);
        
        --color-lightTransparent: rgba(255, 255, 255, 0.5);
        --font-display: 'PNU-Bold';
        --font-body: 'PNU-Regular';
}
